*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    
}


.menu-general, .menu-servicios{    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
    color:#5b5d5e;
}



.menu-general:hover, .menu-servicios:hover{
    
    box-shadow: 0px 0px 6px black inset;
    color:rgb(193, 186, 186);
    transition: all 100ms;
}




.grid-container {
    display: grid;                           
    grid-template-columns: 1fr auto;  
    grid-template-rows: 1fr 0.5fr auto auto auto auto auto auto auto auto 1fr; 
    padding: 1%;
    margin:0px;                               
    
}

.item {
    background-color: #e5f1e6;
    color:black;               
    padding-left: 25px;
    text-align: left;
    
    
    
              
}

.item1, .footer  {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;        
    grid-column-end: 3;
    background-color: #64a168;
    
}

.item2  {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;        
    grid-column-end: 3;
    background-color: #9cb49d;
    
}

.item2 > div {  
    color: white;
    background-color:  #9cb49d;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    
}

.item1 > h1{
    color: white;
    text-align: center;
    vertical-align: center;  
    
}


.item3  {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column-start: 1;        
    grid-column-end: 1;
    grid-row-start:3;
    grid-row-end:11; 
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    
        
                
}


.descripcion1{
    grid-column-start: 2;        
    grid-column-end: 2;
    grid-row-start:3;
    padding: 20px;

}

.footer{
    grid-column-start: 1;        
    grid-column-end: 3;
    padding: 20px;
}

.item3 > div {  
    
    background-color: #e5f1e6;
    margin: 0px;
    padding: 10px;    
    font-size: 20px;    
    border-bottom: 1px solid  #9cb49d;
    
}



.imagenes {
    
    display: flex;
    flex-direction: row;     
    align-items: left;     
    justify-content: flex-start; 
    padding: 10px;
    padding-bottom:40px;
    column-gap: 10px;
    padding-left:25px;

    
}

.imagen_servicio:hover{
    transform:scale(1.5)
    
}




h1 {
    font-size: 25px;
    padding-bottom: 15px;
}

.imagen_servicio{
    height: 200px;

}

p{
    line-height: 25px;
    font-size: 16px;
}

.texto-servicio{
    width: 80%;
}


@media only screen and (max-width: 1150px) {
    .grid-container {
        
        grid-template-columns: 16% auto;   
        grid-template-rows: 1fr 0.5fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr; 
    }
    .item3  {
        grid-column-start: 1;        
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end:3; 
        padding-left:30px;
        padding-right:30px;
        padding-top:20px;
        flex-direction: row;
                        
    }

    .descripcion1{
        grid-column-start: ;        
        grid-column-end: 1;
        grid-row-start:4;
        padding: 20px;
    
    }

        
    
}