
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/styles-servicios.css">
</head>

<body>
    
    <header>
        <div class="top-header">
            <h1 class="logo">Majuma</h1>
        </div>
        
        <div class="bottom-header">
            <h2 class="frase-logo">Donde tus colores cobran vida...</h2>
            <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
            </a> 
        </div>        
         
    </header>

    <nav class="menu">
        <div><a href="/views/principal.html" class="item-menu">Home</a></div>
        <div><a href="/views/productos_final.html" class="item-menu">Productos</a></div>
        <div><a href="/views/servicios.html" class="item-menu">Servicios</a></div>
        <div><a href="/views/contacto.html" class="item-menu">Contacto</a></div>
    </nav>

    <section class="flex-contacto">
    
        <div class="formulario">
            <h2 class="titulo-contactos">Contáctenos</h2>
            <form class="formulario-contacto">
                <input placeholder="Nombre">
                <input placeholder="Mail">
                <input placeholder="Teléfono">
                <textarea placeholder="Mensaje"></textarea>
                <div class="botones">
                    <input type="reset" value="Borrar" class="boton">
                    <input type="submit" value="Enviar" class="boton">
                </div>
                
            </form>
        </div>

        <div class="showroom">
            <h2 class="titulo-contactos">Visite nuestro Showroom</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.18163888192!2d-58.42908828590659!3d-34.59956816478324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7ac3f0b913%3A0x501033d837423a54!2sPringles%201060%2C%20C1183%20AET%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1663793171195!5m2!1ses-419!2sar" width=560 height=560 style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          
            
            
        </div>

    </section>


</body>
    


      

    
    
        
    

    <footer>
        
        <div class="footer-div">
            <i class="fa-regular fa-credit-card"></i>
            <b>Pagá hasta en 18 cuotas sin interés</b>
            <p>Te ofrecemos las mejores formas de financiación!</p>
        </div>
    
        <div class="footer-div">
            <i class="fa-regular fa-clock"></i>
            <b>Horario de atención</b>
            <p>Lunes a viernes: 9:00 a 18:00 hs <br>Sábados: 9:00 a 14:00 hs</p>
        </div>
        
        <div class="footer-div">
            <i class="fa-solid fa-location-dot"></i>
            <p class="contacto-footer">Pringles 1060, CABA</p><br>
            <i class="fa-solid fa-at"></i>
            <p class="contacto-footer">majuma-pinturerias@gmail.com</p><br>
            <i class="fa-brands fa-whatsapp"></i>
            <p class="contacto-footer">+54 9 11 5504 2945</p>
        </div>
        
        <br>        
        <p class="copyright">Copyright © 1999-2020 Pinturerias MaJuMa S.A.</p>
        
    
    </footer>

               

        
    
</body>


</html>