
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/styles-servicios-contacto.css">
    
    
</head>

<body>
    
    <header>
        <div class="top-header">
            <div class="div-logo"><h1 class="logo">Majuma</h1></div>
        </div>

        <div class="bottom-header">
            <h2 class="frase-logo">Donde tus colores cobran vida...</h2>
        </div>

        <div class="div-menu-hamburguesa">    
            <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
            </a> 
        </div>        
         
    </header>
    
    <nav class="menu-general">
        <div><a href="principal.html" class="item-menu">Home</a></div>
        <div><a href="productos_final.html" class="item-menu">Productos</a></div>
        <div><a href="servicios.html" class="item-menu">Servicios</a></div>
        <div><a href="contacto.html" class="item-menu">Contacto</a></div>
    </nav>

    
    <section class="flex-contacto">
    
        <div class="formulario">
            <h2 class="titulo-contactos">Contáctenos</h2>
            
            <form class="formulario-contacto" name="formContacto">
                <input type=text placeholder="Nombre" name="nombre">
                <input type=text placeholder="Mail" name="mail">
                <input type=text placeholder="Teléfono" name="telefono">
                <textarea placeholder="Mensaje" name="mensaje"></textarea>
                <div class="botones">
                    <input type="button" class="boton" value="Borrar" onclick=document.formContacto.submit()>
                    <input type="button" class="boton" value="Enviar" onclick="validarEnviar()">
                </div>
            </form>

        </div>

        <div class="showroom">
            <h2 class="titulo-contactos">Visite nuestro Showroom</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.18163888192!2d-58.42908828590659!3d-34.59956816478324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7ac3f0b913%3A0x501033d837423a54!2sPringles%201060%2C%20C1183%20AET%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1663793171195!5m2!1ses-419!2sar" width=300 height=300 style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          
        </div>

    </section>

    <!--VALIDO EL FORMUALRIO-->

    <script>
        
        function validarEnviar() {
            //valido el nombre
            if (document.formContacto.nombre.value.length == 0) {
                alert("Ingrese su nombre")
                document.formContacto.nombre.focus()
                return 0;
            }

            //valido el mail
            if (document.formContacto.mail.value.length == 0) {
                alert("Ingrese su mail")
                document.formContacto.mail.focus()
                return 0;
            }else if(!(document.formContacto.mail.value.includes('@'))||!(document.formContacto.mail.value.includes('.com'))){
                alert("Ingrese un mail válido")
                document.formContacto.mail.focus()
                return 0;
            }

            //valido el teléfono
            tel = document.formContacto.telefono.value
            tel = validarEntero(tel)
            document.formContacto.telefono.value = tel
            if (tel == "" || document.formContacto.telefono.value.length < 8) {
                alert("Debe ingresar un número de teléfono, el mismo debe ser numérico y contener al menos 8 dígitos")
                document.formContacto.telefono.focus()
                return 0;
            }

            //valido el mensaje
            if (document.formContacto.mensaje.value.length == 0) {
                alert("Debe ingresar un mensaje")
                document.formContacto.mensaje.focus()
                return 0;
            }
            
            alert("Su mensaje ha sido enviado, le responderemos a la brevedad");
            document.formContacto.submit();
        }

        function validarEntero(valor) {
        valor = parseInt(valor)
        //Compruebo si es un valor numérico
        if (isNaN(valor)) {
            //entonces (no es numero) devuelvo el valor cadena vacia
            return ""
        } else {
            //En caso contrario (Si era un número) devuelvo el valor
            return valor
        }
        }

    </script>
    


    <footer>
        
        <div class="footer-div">
            <i class="fa-regular fa-credit-card"></i>
            <b>Pagá hasta en 18 cuotas sin interés</b>
            <p>Te ofrecemos las mejores formas de financiación!</p>
        </div>
    
        <div class="footer-div">
            <i class="fa-regular fa-clock"></i>
            <b>Horario de atención</b>
            <p class="horario">Lunes a viernes: 9:00 a 18:00 hs <br>Sábados: 9:00 a 14:00 hs</p>
        </div>
        
        <div class="footer-div">
            <i class="fa-solid fa-location-dot"></i>
            <p class="contacto-footer">Pringles 1060, CABA</p><br>
            <i class="fa-solid fa-at"></i>
            <p class="contacto-footer">majuma-pinturerias@gmail.com</p><br>
            <i class="fa-brands fa-whatsapp"></i>
            <p class="contacto-footer">+54 9 11 5504 2945</p>
        </div>
        
        <br>        
        <p class="copyright">Copyright © 1999-2020 Pinturerias MaJuMa S.A.</p>
        
    
    </footer>            

        
    
</body>


</html>