
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/public/css/estilos_final.css">
</head>

<body class="body"> 
    <header class="header">
        <div class= h__div__titulo><h1> MaJuMa </h1></div>

        <div class="h__div_menu">
            <div><a href="principal.html" class="menu">Home</a></div>
            <div><a href="productos_final.html" class="menu">Productos</a></div>
            <div><a href="servicios.html" class="menu">Servicios</a></div>
            <div><a href="contacto.html" class="menu">Contacto</a></div>
        </div>

    </header>

    <main class="main">
        <div class= "m_div">
            <div class="producto"> 
                <img src="/public/images/productos/productouno.jpg" class="imagen"> 
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productodos.jpg" class="imagen"> 
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto">
                <img src="/public/images/productos/producto3.jpg" class="imagen"> 
                <p>Pintura de Latex</p><p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productouno.jpg" class="imagen">  
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productouno.jpg" class="imagen"> 
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productodos.jpg" class="imagen"> 
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto">
                <img src="/public/images/productos/producto3.jpg" class="imagen"> 
                <p>Pintura de Latex</p><p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productouno.jpg" class="imagen">  
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productouno.jpg" class="imagen"> 
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productodos.jpg" class="imagen"> 
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
            </div>
            <div class="producto">
                <img src="/public/images/productos/producto3.jpg" class="imagen"> 
                <p>Pintura de Latex</p><p>Precio: $1200</p>
            </div>
            <div class="producto"> 
                <img src="/public/images/productos/productouno.jpg" class="imagen">  
                <p>Pintura de Latex</p>
                <p>Precio: $1200</p>
        </div>
        <div class="producto"> 
            <img src="/public/images/productos/productouno.jpg" class="imagen"> 
            <p>Pintura de Latex</p>
            <p>Precio: $1200</p>
        </div>
        <div class="producto"> 
            <img src="/public/images/productos/productodos.jpg" class="imagen"> 
            <p>Pintura de Latex</p>
            <p>Precio: $1200</p>
        </div>
        <div class="producto">
            <img src="/public/images/productos/producto3.jpg" class="imagen"> 
            <p>Pintura de Latex</p><p>Precio: $1200</p>
        </div>
        <div class="producto"> 
            <img src="/public/images/productos/productouno.jpg" class="imagen">  
            <p>Pintura de Latex</p>
            <p>Precio: $1200</p>
    </main>
    
    <nav class="nav">
        <div>
            <h2>Nuestros Productos </h2>
            <div>
                <a href="#servicio_1" class="menu">Pinturas</a>
            </div>
            <div>
                <a href="#servicio_2" class="menu">Accesorios</a>
            </div>
        </div>
    </nav>
    <footer class="footer">
        <h1> MaJuMa </h1>
    </footer>

        
    
</body>


</html>