
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/styles-servicios.css">
</head>

<body>
    
    <header>
        <div class="top-header">
            <div class="div-logo"><h1 class="logo">Majuma</h1></div>
        </div>

        <div class="bottom-header">
            <h2 class="frase-logo">Donde tus colores cobran vida...</h2>
        </div>
        <div class="div-menu-hamburguesa">    
            <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
            </a> 
        </div>        
         
    </header>

      

    
    <nav class="menu">
        <div><a href="/views/principal.html" class="item-menu">Home</a></div>
        <div><a href="/views/productos_final.html" class="item-menu">Productos</a></div>
        <div><a href="/views/servicios.html" class="item-menu">Servicios</a></div>
        <div><a href="/views/contacto.html" class="item-menu">Contacto</a></div>
    </nav>
  

    <div class="grid-container">
                
        <div class="div-menu-servicios">
            <h2 class="titulo-menu-servicios">Nuestros Servicios</h2>
            <ul class="menu-servicios">
                <li class="servicio"><a href="#servicio_1" >Pintura Exteriores</a></li>
                <li class="servicio"><a href="#servicio_2" >Pintura Interiores</a></li>
                <li class="servicio"><a href="#servicio_3" >Pintura Artística</a></li>
                <li class="servicio"><a href="#servicio_4" >Impermeabilización</a></li>
            </ul>            
        </div>

        <div class="descripcion-servicio">
            <h1 id="servicio_1" class="titulo-servicio">Pintura Exteriores</h1>
            <div class="texto-servicio"> 
                <p>
                    Hacemos trabajos de pintura exterior de casas, edificios, fachadas, muros, rejas y puertas.<br>
                    El motivo más importante de la pintura exterior es el de preservar el inmueble en perfectas condiciones. Gracias a la pintura y al tratamiento que se realiza antes de la aplicación de la pintura, las fachadas se mantienen mejor conservadas por periodos prolongados de tiempo.<br>
                    Más allá de la protección, damos estilos originales para decorar y mejorar la estética exterior de tu hogar.<br>
                    Nuestro personal altamente capacitado en tratamiento de superficies, trabajo en altura y reparación de grietas es nuestra principal herramienta para poder cumplir con las expectativas y proyectos de nuestros clientes.
                </p>
            </div> 
                    
        </div>
        
        <div class="imagen-servicio">
            <img src="/public/images/servicios/1.pintura_exterior1.jpg" class="imagen">
            <img src="/public/images/servicios/1.pintura_exterior2.jpg" class="imagen">
            <img src="/public/images/servicios/1.pintura_exterior3.jpg" class="imagen">
        </div>

        <div class="descripcion-servicio">
            <h1 id="servicio_2" class="titulo-servicio">Pintura Interiores</h1>
            <div class="texto-servicio">
                <p>
                    Color y protección de paredes, techos y durlock interiores.<br>
                    La protección es fundamental para mantener paredes y techos en buen estado por mucho tiempo. Por otro lado, la estética también juega un papel muy importante.  Los colores dan vida, luminosidad y alegría a los espacios. Contar con techos y paredes con pinturas en buen estado, genera hogares más amenos<br>
                    Escuchamos a nuestros clientes para conocer sus preferencias y también ofrecemos consejos que se adapten a sus necesidades y gustos.<br>
                    En una primera instancia nuestros pintores realizarán una visita para conocer el espacio de trabajo y ultimar detalles respecto al servicio a realizar, colores a aplicar y tipo de pintura a utilizar. Luego se coordinan las sesiones necesarias para realizar el trabajo.             
                </p>
            </div>        
        </div>
        
        <div class="imagen-servicio">
            <img src="/public/images/servicios/2.pintura_interior1.jpg" class="imagen">
            <img src="/public/images/servicios/2.pintura_interior2.jpg" class="imagen">
            <img src="/public/images/servicios/2.pintura_interior3.jpg" class="imagen">
        </div>

        <div class="descripcion-servicio">
            <h1 id="servicio_3" class="titulo-servicio">Pintura Artística</h1>
            <div class="texto-servicio">
                <p>
                    La pintura decorativa se ha utilizado durante siglos para embellecer interiores de hogares, así como para imitar materiales cuyo costo era muy elevado. En la actualidad, el descubrimiento de nuevas pinturas sintéticas permite la decoración de todo tipo de superficies por lo que la aplicación no tiene límites y todo depende de la creatividad de cada persona.<br>
                    Contamos con los mejores artistas que pueden diseñar murales en función de los requerimientos del cliente o bien replicar diseños provistos por este último.<br> 
                    Contamos con los mejores artistas que pueden diseñar murales en función de los requerimientos del cliente o bien replicar diseños provistos por este último.<br>  
                    Para realizar el trabajo, se desarrolla previamente un bosquejo digital que debe ser aprobado por el cliente. <br>           
                </p>
            </div>        
        </div>
        
        <div class="imagen-servicio">
            <img src="/public/images/servicios/3.arte1.jpg" class="imagen">
            <img src="/public/images/servicios/3.arte2.jpg" class="imagen">
            <img src="/public/images/servicios/3.arte3.jpg" class="imagen">
        </div>


        <div class="descripcion-servicio">
            <h1 id="servicio_4" class="titulo-servicio">Impermeabilización</h1>
            <div class="texto-servicio">
                <p>
                    El servicio de impermeabilización es un tratamiento eficaz que evita el ingreso de humedad a los inmuebles. Asimismo, evita que se generen cascarones de pinturas, manchones negros de humedad o moho en las paredes.<br>
                    Gracias a este tratamiento, también se evita que ciertos objetos sean dañados como consecuencia de estar expuestos a la humedad.<br>
                    Se puede impermeabilizar el hogar tanto de adentro como de afuera, aunque es más común requerir el servicio de impermeabilización para exteriores.<br> 
                    Te garantizamos un sellado 100% eficiente con garantía escrita por 10 años.<br>
                    Realizamos una visita técnica inicial para armar un presupuesto a medida donde se detallarán las tareas a realizar y el cómputo de materiales que se utilizarán.
                </p>
            </div>        
        </div>
        
        <div class="imagen-servicio">
            <img src="/public/images/servicios/4.impermeabilizacion1.jpg" class="imagen">
            <img src="/public/images/servicios/4.impermeabilizacion2.jpg" class="imagen">
            <img src="/public/images/servicios/4.impermeabilizacion3.jpg" class="imagen">
        </div>

        

    </div>


        
    

    <footer>
        
        <div class="footer-div">
            <i class="fa-regular fa-credit-card"></i>
            <b>Pagá hasta en 18 cuotas sin interés</b>
            <p>Te ofrecemos las mejores formas de financiación!</p>
        </div>
    
        <div class="footer-div">
            <i class="fa-regular fa-clock"></i>
            <b>Horario de atención</b>
            <p>Lunes a viernes: 9:00 a 18:00 hs <br>Sábados: 9:00 a 14:00 hs</p>
        </div>
        
        <div class="footer-div">
            <i class="fa-solid fa-location-dot"></i>
            <p class="contacto-footer">Pringles 1060, CABA</p><br>
            <i class="fa-solid fa-at"></i>
            <p class="contacto-footer">majuma-pinturerias@gmail.com</p><br>
            <i class="fa-brands fa-whatsapp"></i>
            <p class="contacto-footer">+54 9 11 5504 2945</p>
        </div>
        
        <br>        
        <p class="copyright">Copyright © 1999-2020 Pinturerias MaJuMa S.A.</p>
        
    
    </footer>

               

        
    
</body>


</html>