*{    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-decoration: none;
    
    /*background-color:  #e5f1e6;*/
    background-color:  rgb(243, 233, 233);
    
    
}



/*Header------------------------------------------------------------*/

header {
    margin:10px;
    border-style: groove;
    border-radius: 10px;
    border: 2px solid white ;
    box-shadow: 0 0 9px red;
    background-size: cover;
    padding: 0px 10px;
    background-image: url(https://i.im.ge/2022/09/29/1Ej5Lz.header2.png);
    height: 170px;
}

.div-logo{
    background-color: transparent;
    margin-bottom: 0px;
}

.logo, .frase-logo { 
    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 0.1em 0.1em 0.05em rgba(158, 155, 159, 0.497);
    background-color: transparent;
}
    
.logo{
    
    font-family: 'Dancing Script', cursive;    
    padding-left: 30px;
    color: rgb(18, 16, 16);
    font-size: 80px;
    margin-top: 2px;
    text-shadow: 0.1em 0.1em 0.05em rgba(197, 63, 255, 0.497);
    text-shadow: 0.1em 0.1em 0.05em brown;
    
}

.frase-logo{
    font-size: 25px;
    padding-left:30px;   
    color: black;
    
}
    
.burger-menu{
    display:none;
    background-color: transparent;
}

.items-menu-general{
    
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 10vw;
    padding-right: 10vw;
    
}
.items-menu-general a{
    text-decoration: none;
    color:white;    
   
}

.item-menu{
    font-size: 18px;
}

.top-header{
    height: 80px;
    background-color: transparent;
}
.bottom-header{
    background-color: transparent;
    
}

/*Menú de navegación---------------------------------------------------*/

.menu  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu > div {
    margin-top: 0px;
    padding: 10px;
    font-size: 15px;        
}

.item-menu:hover{    
    box-shadow: 0px 0px 6px rgb(119, 97, 141);
    color:rgb(154, 149, 149);
    transition: all 100ms;
}

.item-menu{    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
    color:#5b5d5e;
    border-radius: 20%;
    border-color: #494a4b;
    
}


/*Menu servicios-----------------------------------------------------------------------*/
.servicio{    
    background-color: transparent;
    font-size: 8px;
    margin-bottom:10px;
    border-bottom: solid 1px #777879;
    
    align-items: center;
    justify-content: center;
    width:150px
}




.servicio:hover{    
    box-shadow: 0px 0px 6px rgb(119, 97, 141);
    color:rgb(193, 186, 186);
    transition: all 100ms;
}

.menu-servicios{
    /*background-color:  #e5f1e6;*/
    margin-top: 0px;
   
    
    
}

a{
    color:#5b5d5e;
    
}





.texto-servicio > p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 50;
    margin:0px
}

.texto-servicio{
    margin-top:0px;    
    padding: 0px;
    margin-bottom: 20px;
}


/*Descripciones e imágenes servicios---------------------------------------------------*/
.descripcion-servicio, .imagen-servicio{
    padding-left: 40px;
}

.descripcion-servicio{
    padding-top:10px;
}

.imagen-servicio{
    padding-bottom: 40px;
}



.grid-container {
    display: grid;                           
    grid-template-columns: 1fr 4fr;  
    grid-template-rows: auto auto auto auto auto auto auto auto; 
    padding: 1%;
    margin:0px;                               
    
}   
              

.div-menu-servicios  {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column-start: 1;        
    grid-column-end: 1;
    grid-row-start:1;
    grid-row-end:10; 
    padding-top : 10px;
    align-content: center;
    
                         
}

.descripcion-servicio{
    padding-top : 10px;  

}





.imagen:hover{
    transform:scale(1.5)
    
}




.imagen{
    height: 180px;

}

p{
    line-height: 25px;
    font-size: 16px;
}

.texto-servicio{
    width: 90%;
}

.servicio > a{
    font-size: 18px;
}





li{
    list-style: none;
    line-height: 200%;
    background-color: transparent;
    
}


footer{
    margin-top: 50px;
    width:100%;
    background-color: rgb(204, 200, 200);
    padding-top:20px;
    padding-bottom:2px;
    font-size: 15px;
    height: 250px;
    
}

.footer-div{
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: rgb(204, 200, 200);
}

.footer-div p{
    margin-top: 5px;
    background-color: rgb(204, 200, 200);   
    font-size:10px
}

.footer-div b, .copyright, footer i{    
    background-color: rgb(204, 200, 200);   
    
}

.horario{
    line-height: 15px;
}
.contacto-footer{
    display: inline;
    background-color: rgb(204, 200, 200);
}

.copyright{
    font-size:10px
}

/*Formulario------------------------------------------------------------*/

.flex-contacto{
    display:flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10%;
    margin-top:30px
}

.titulo-contactos{
    text-align: center;
}

.formulario-contacto{
    display:flex;
    flex-direction: column;
    

}

input, textarea, .motivos-de-consulta{
    height:50px;
    border-radius: 8px;
    margin:5px;
    width: 500px;
    background-color: white;
    font-size:20px
}

textarea{
    height: 300px;
}


.botones{    
    display:flex;
    justify-content: right;
    
}
.boton{
    width:100px;
    background-color: #b7babc;
    height: 40px;
    
}



@media(max-width:768px){   

    .grid-container {                                 
        grid-template-columns: 1fr;  
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
                
    }

    .div-menu-servicios{        
        padding: 20px;
        padding-top:0px;
        margin:auto;
        margin-top:10px;  
    }

    .titulo-menu-servicios{
        font-size: 23px;
        
        text-align: center;
    }

    .servicio{
        font-size: 15px;
        border-bottom:rgb(81, 79, 79) solid 1px;
        padding:5px;
        margin:auto;
        text-align: center;        
    }

    .servicio > a{
        font-size: 22px;
        
    }

    .menu-servicios{        
        padding:0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin:auto;              
    }

    .descripcion-servicio, .imagen-servicio{        
        padding:0                   
    }

    .imagen-servicio{
        display:flex;
        justify-content: center;
        column-gap: 10px;
        margin-bottom:20px
        
    }

    .texto-servicio{
        align-content: center;
        align-items: center;        
        margin:auto
       
    }

    .titulo-servicio, .texto-servicio{
        text-align: center;        
        padding:0px;
        font-size: 30px;        
    }

    .texto-servicio > p{
        font-size: 20px; 
        line-height: 30px;    
    }

    .texto-servicio{
        margin-bottom:20px
    }

    .logo{
        font-size:100px
    }

    .frase-logo{
        font-size:25px
    }


}

@media(max-width:768px){

    .imagen-servicio{
        flex-direction: column;
        align-items: center;
        row-gap:20px;
                
    }

    .imagen{
        width: 300px;
        height: auto;
    }

    

    .servicio{
        width:35vw;
        margin-bottom:0px

    }

    .logo{
        font-size:100px
    }

    

    .frase-logo{
        font-size:20px
    }


}

@media(max-width:580px){
    
    
    .burger-menu{
        display: inline;
        font-size: 30px;
        background-color:black;  
        border-radius: 20%;
        padding:2px 6px     
    }

    .div-menu-hamburguesa{
        background-color: transparent;
        text-align: center;
    }

    .fa-bars{
        background-color:transparent;
        color:white
    }
    
    .top-header{
        height: 90px;
    }

    header{
        height: 170px;
        
    }
    .bottom-header{
        display:flex;
        background-color:transparent;
        justify-content: space-between;
        margin-bottom: 0px;
    }   
    
    .menu{
        display:none
    }

    .div-menu-servicios{
        margin-top:0px;
        
    }
    .logo{
        font-size:70px
    }

    .frase-logo{
        font-size:18px;
        margin-top:0px
    }

    .logo{
        padding:0px;
        margin-bottom:0px;
        
        
    }

    

}

@media(max-width:1240px){
    .flex-contacto{
        flex-direction: column;
        align-items: center;
    }

}
    

